<h1>my todo list :)</h1>
<div class="wrapper">
	<div class="items">
		<div *ngFor="let item of todoList; index as i">
			<div *ngIf="item.completed; else hasX">
			<p><span class="marker done">✅</span>{{item.task}}</p>
			</div>
		<ng-template #hasX>
			<div>
			<p><span class="marker"><button (click)="completeTask(i)">☑️</button></span>{{item.task}}</p>
			</div>
		</ng-template>
		</div>
	</div>
	<br>
	<div class="field">
		<input type="text" id="NewItem">
		<span class="divider"> | </span>
		<button (click)="addTask()" class="addButton">Add Item</button>
		<br>
	</div>
</div>


